.profile__wrap {
    display: flex;
    margin-left: 30px;
    max-width: 530px;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .profile__wrap {
        justify-content: center;
        margin-left: 0;
    }
}

@media screen and (max-width: 1024px) {
    .profile__wrap {
        max-width: 460px;
    }
}